/* Estilos generales */
.form-container {
    background: #f4f7fc;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    font-family: "Arial", sans-serif;
  }
  
  /* Título */
  .form-container h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Campos de entrada */
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Botón */
  .button {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button:hover {
    background: linear-gradient(135deg, #0056b3, #004099);
  }
  
  /* Pie de página */
  .footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 20px;
  }
  
  .footer strong {
    color: #333;
  }
  
  /* opciones */

  .select-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial, sans-serif;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .select-input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #007bff;
    border-radius: 8px;
    background: #f8f9fa;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .select-input:hover,
  .select-input:focus {
    border-color: #0056b3;
    background: #e9ecef;
  }